{
  "build": { "dockerfile": "Dockerfile" },
  "extensions": ["ms-vscode.cpptools", "ms-vscode.cmake-tools"],
  "workspaceFolder": "/workspace",
  "workspaceMount": "source=remote-workspace,target=/workspace,type=bind,consistency=cached"
}
